@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.inner {
  position: relative;
  width: 1180px;
  margin: auto;
  background-color: beige;
}
/* 상단 */
header {
  width: 100%;
  background-color: aqua;
  /* border-bottom: 1px solid #ddd; */
}
header .inner {
  height: 120px;
}
header .header-top {
  /* 포지션 렐러티브 주는게 원칙 지금은 inner가 있어서 inner의 적용을 받음 */
  position: relative;
  height: 60px;
  background-color: rgb(248, 189, 189);
}
header .header-top .util {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  text-align: center;
  background-color: aliceblue;
}
.util li {
  float: left;
}
.util li a {
  display: block;
  padding: 0 10px;
  /* 12px/1 1은 line-height 임 Y축 중앙 정렬 */
  font: 13px/1 "arial";
  background-color: antiquewhite;
}
header .header-bt {
  position: relative;
  height: 60px;
  background-color: rgb(184, 184, 255);
}
header .header-bt h1 {
  float: left;
  line-height: 60px;
  background-color: aquamarine;
}
header .header-bt #gnb {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: blueviolet;
}
header .header-bt #gnb li {
  float: left;
}
header .header-bt #gnb li a {
  /* 디스플레이가 블락이라도 애들이 가로로 가는 이유는 a의 부모가 li이기 때문에 li 크기만큼만 먹고 다음 칸으로 block 가는 거임 */
  display: block;
  font: bold 15px/1 "arial";
  padding: 20px 40px;
  background-color: burlywood;
}
header .header-bt #gnb li a:hover {
  background-color: #333;
  color: #fff;
}
/* 비디오 영역 */
figure {
  position: relative;
  width: 100%;
  /* vh는 브라우저 높이 따라갈 때, vw는 브라우저 너비 따라갈 때 */
  /* ↓브라우저 전체높이에서 위에 헤더높이 뺀 거 */
  height: calc(100vh - 120px);
  padding-top: 250px;
  background-color: #000;
}
figure video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* 영상을 figure 영역 너비에 꽉차게 설정 */
  object-fit: cover;
  opacity: 0.3;
}
figure .inner {
  background-color: aqua;
}
figure .inner h1 {
  font: normal 120px/1 "arial";
  color: #fff;
  margin-bottom: 20px;
}
figure .inner p {
  font: 16px/1.4 "arial";
  color: #888;
  margin-bottom: 60px;
}
figure .inner a {
  display: block;
  width: 400px;
  /* height: 30px; */
  border: 1px solid #fff;
  font: bold 12px/30px "arial";
  color: #fff;
  text-align: center;
  background-color: rgb(255, 189, 230);
  /* 딜레이 시키는 트랜지션은 호버에 주는 게 아니라 그 원판에 주는 것! 잊지말기 */
  transition: all 0.5s;
}
figure .inner a:hover {
  background-color: #fff;
  color: #333;
}
/* 뉴스 영역 */
section {
  width: 100%;
  padding: 200px 0;
  background-color: violet;
}
section .inner h2 {
  font: bold 24px/1 "arial";
  color: #333;
  text-align: center;
  padding-bottom: 50px;
}
section .inner .section-wrap {
  width: 100%;
  background-color: rgb(196, 133, 56);
}
section .inner .section-wrap::after {
  /* wrap이 float 애들 때문에 전체를 못잡으니까 content로 가상 공간을 만들어서 영역을 전부 잡히게 함 */
  content: "";
  display: block;
  /* float 되는 애들 때문에 생기는 빈공간 막는 게 clear: both */
  clear: both;
}
section .inner .section-wrap article {
  /* width: 280px; */
  /* width: calc(100% / 4 - 15px); */
  /* ↓ 위에 애들과 같은 결과 */
  width: calc((100% - 60px) / 4);
  float: left;
  margin-right: 20px;
}
section .inner .section-wrap article:last-child {
  margin-right: 0;
}
section .inner .section-wrap article .pic {
  position: relative;
  width: 100%;
  height: 120px;
  overflow: hidden;
}
section .inner .section-wrap article .pic img {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
section .inner .section-wrap article h3{
  margin-bottom: 10px;
}
section .inner .section-wrap article h3 a {
  font: bold 16px/1 "arial";
  color: #555;
}
section .inner .section-wrap article p {
  font: 14px/1.4 "arial";
  color: #777;
}
